<h2>Booklist</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Book name</th>
      <th>Writer</th>
      <th>Shelf</th>
      <th>Available for loan</th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(book => { %>
    <tr>
      <td>
        <%= book._id %>
      </td>
      <td>
        <a href="<%= `/${book._id}`%>">
            <%= book.name %>
        </a>
      </td>
      <td>
        <%= book.author %>
      </td>
      <td>
        <%= book.shelfLocation %>
      </td>
      <td>
        <%= book.numberAvailable %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>